{% extends 'base.html.twig' %}

{% block title %}Hello ShortUrlProcessedController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="example-wrapper">
        <h1>MiniURL was created!</h1>
        <p>The following URL:</p>
        <p><b>{{ app.flashes('target')[0] }}</b></p>
        <p>has a length of {{ app.flashes('targetLength')[0] }} characters and resulted in the following MiniURL which has the length of {{ app.flashes('sourceLength')[0] }} characters:</p>
        <p><b>{{ app.flashes('source')[0] }}</b></p>
    </div>
{% endblock %}
